/*Navigation bar*/
.black {
	color: #FFFFFF;
	background-color: #000000;
}

.block {
	display: block;
	/*width: 100%;*/
}

.col {
	float: left;
	width: 25.0%;
}

.button {
	border: none;
	font-family: "Poiret One";
	padding: 15px 15px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	top: 0;
}

/*Header*/

#header {
	padding-left: 2.5%;
}

h1 {
	font-family: Poiret One;
	margin: 0;
	font-size: 40px;
	padding-top: 60px;
	border-bottom: 3px solid #f1f1f1;
	width: 46%;
	padding-bottom: 10px;
} 



/*Content*/
/*.container {
    width: 80%;
        background: aqua;*/
 /*   height: 200px;

    margin: 25px auto;
    padding: 10px;
    }*/
    
 .container {
 	margin: 2.5%;
 }


img {
    float: left;
    /*margin: 2.5%;*/
}

.bio {
    margin-left: 35%;
    height: 300px;
/*    background: black;
    color: white;	*/
    font-family: "Pt Serif";
    text-align: center;
    padding-left: 2.5%;    
}



/*#img.resize {
   height: 50px; 
    width: 50px; 

}*/


/*Footer*/

/*Footer*/


.footer {
	font-family: "Poiret One";
	font-size: 12px;
	margin: 5px;
}

.name {
	margin: 30px;
}


#social {
	position: absolute;
    width: 100%;

  /*  text-align: center;*/
}

#social > a {
	text-decoration: none;
	padding: 7px;
	display: inline-block;
}