
/*Header*/

#header {
	padding-left: 22px;
}

h1 {
	font-family: Poiret One;
	margin: 0;
	font-size: 40px;
	padding-top: 60px;
	border-bottom: 3px solid #f1f1f1;
	width: 49%;
	padding-bottom: 10px;
} 



/*Content*/
    
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    box-sizing: border-box;
    max-width: 1000px;
    margin: auto;
 }

.column.img {
    flex: 30%;
    padding: 30px;
    box-sizing: border-box;
}

.column.text {
    flex: 70%;
    padding: 0px 30px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1.5em;
    font-family: "Pt Serif";
    align-self: center;
}

.column.img img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    vertical-align: middle;
}

p {
    font-family: "Pt Serif";
    vertical-align: middle;
    text-align: left;
}

ul {
    margin-top: 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column.img, .column.text {
        flex: 100%;
        max-width: 100%;
    }
}

