/*Header*/



/*p {
padding: 20px;
max-width: 700px;
width: 80%;
margin: 20px auto;
}*/


/*Icons*/

#social {
	padding: 20px;
	margin: auto; 
    display: inline-block;
    width: 80%;
}

#social > a {
	text-decoration: none;
	padding: 20px;
	width: calc(30% - 40px);
	display: inline-block;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    max-width: 100%;   /*test mobile*/
}

