/*Header*/

#header {
	padding-left: 2.5%;
}


h1 {
	font-family: Poiret One;
	margin: 0;
	font-size: 40px;
	padding-top: 60px;
	border-bottom: 3px solid #f1f1f1;
	width: 46%;
	padding-bottom: 10px;
} 

/*p {
padding: 20px;
max-width: 700px;
width: 80%;
margin: 20px auto;
}*/



/*Navigation bar*/
.black {
	color: #FFFFFF;
	background-color: #000000;
}

.block {
	display: block;
}

.col {
	float: left;
	width: 25.0%;
}

.button {
	border: none;
	font-family: "Poiret One";
	padding: 15px 15px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	top: 0;
}


/*Icons*/

#social {
	padding: 0;
	margin: auto; 
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
   /* display: inline-block;*/
}

#social > a {
	text-decoration: none;
	padding: 0;
	margin: 0;
	width: 49%;
	display: inline-block;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    max-width: 100%;   /*test mobile*/
}

