



/*background image*/
.bgimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/BSufSG1.jpg);
    min-height: 75%;
}

/*.pictext {
	 color: white;
}*/

/*Navigation bar*/
.black {
	color: #FFFFFF;
	background-color: #000000;
}

.block {
	display: block;
	/*width: 100%;*/
}

.col {
	float: left;
	width: 25.0%;

}

.button {
	border: none;
	font-family: "Poiret One";
	padding: 17px 17px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	top: 0;
}


/*.top {
    margin: 0;
}
*/
/*.top, .botton {
    position: fixed;
    width: 100%;
   z-index: 0;
}*/

/*Content*/
.content {
	text-align: center;
	
}

#hello {
	/*font-size: 25px;*/
/*	font-weight: 700;*/
	font-family: "Inconsolata";
}

#test {
	font-family: "Inconsolata";
}


/*Footer*/

.footer {
	font-family: "Poiret One";
	font-size: 13px;
	margin: 5px;
}

.name {
	margin: 30px;
}


#social {
	position: absolute;
    width: 100%;

  /*  text-align: center;*/
}

#social > a {
	text-decoration: none;
	padding: 7px;
	display: inline-block;
}
/*	margin-bottom: 200px;*/
/*	width: 49%;
	
	/*
}


