

html, body { 
	height: 100%; 
	padding: 0;
    margin: 0;
}

main {
	min-height: calc(100% - 70px);
}

/*background image*/
.bgimg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/BSufSG1.jpg);
    height: 700px;
}

/*Navigation bar*/
.black {
	color: #FFFFFF;
	background-color: #000000;
}

.block {
	display: block;
}

.col {
	float: left;
	width: 25.0%;

}

.button {
	border: none;
	font-family: "Poiret One";
	padding: 15px 15px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	top: 0;
}


/*.top {
    margin: 0;
}
*/
/*.top, .botton {
    position: fixed;
    width: 100%;
   z-index: 0;
}*/

/*Content*/
.content {
	text-align: center;
		font-family: "PT Serif";
}

#hello {
	font-size: 27px;
	margin-bottom: 0px;

}

#text {
	margin: 0 20px;
	text-align: center;
    margin: 0 auto;
    width: 33%;
}


/*Footer*/


footer {
	margin-top: 20px;
	font-family: "Poiret One";
	font-size: 12px;
    height: 50px; 
}

footer .name {
	text-align: center;
	margin: 3px 0px;
}


footer #social {
    width: 100%;
  	text-align: center;
}

footer #social a {
	text-decoration: none;
	padding: 0px 6px;
	display: inline-block;
}

