 
/*Header*/


/*h1 {
  font-family: Poiret One;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 40px;
  padding-top: 60px;
  border-bottom: 3px solid #f1f1f1;
  width: 49%;
  padding-bottom: 10px;
} 
*/
/*Images*/
/*img {
  width: 45%;
  float: left;
  margin: 2.5%;
 
}

 
.crop {
  height: 350px;
  overflow: hidden;
}
*/
/*.crop img {
  height: auto;
  width: 400px;
} */

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    max-width: 50%;
    box-sizing: border-box;
}

.column img {
    padding: 10px;
    vertical-align: middle;
    width: calc(100% - 20px);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


/*Footer*/


.content {
  min-height: 100%;
}

