/*Navigation bar*/
.black {
	color: #FFFFFF;
	background-color: #000000;
}

.block {
	display: block;
	/*width: 100%;*/
}

.col {
	float: left;
	width: 25.0%;
}

.button {
	border: none;
	font-family: "Poiret One";
	padding: 15px 15px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
	margin: 0;
	top: 0;
}

/*Header*/

#header {
	padding-left: 2.5%;
}

h1 {
	font-family: Poiret One;
	margin: 0;
	font-size: 40px;
	padding-top: 60px;
	border-bottom: 3px solid #f1f1f1;
	width: 46%;
	padding-bottom: 10px;
} 

/*Images*/
img {
	width: 45%;
	float: left;
	margin: 2.5%
}

.crop {
	height: 350px;
	overflow: hidden;
}

/*.crop img {
	height: auto;
	width: 400px;
} */


/*Footer*/
.footer {
	font-family: "Poiret One";
	font-size: 13px;
	margin: 5px;
	position: relative;
}

.name {
	margin: 30px;
}


#social {
/*	position: absolute;
    /*width: 100%;
}
*/

}


#social > a {
	text-decoration: none;
	padding: 7px;
}


